<p>Hola! It's <%= Time.now %></p>
<p><%= link_to 'Hello!', welcome_say_hello_path %></p>

example
<ul>
  <li><%= link_to '循环',welcome_loop_path %> </li>
  <li><%= link_to 'cycle使用',welcome_cycle_path %> </li>
  <li><%= link_to 'truncate使用',welcome_truncate_path %> </li>
  <li><%= link_to 'gsub使用',welcome_gsub_path %> </li>
  <li><%= link_to 'h使用',welcome_h_path %> </li>
  <li><%= link_to '文件列表',welcome_list_path %> </li>
  <li><%= link_to '在线商店',welcome_shop_path %> </li>
  <li><%= link_to '自己写实体校验器',welcome_validation_path %> </li>
  <li><%= link_to '修改任一校验逻辑的出错信息???',welcome_changeValidationMsg_path %> </li>
</ul>

